<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.type.mapper.RoomTypeMapper">
    
    <resultMap type="RoomType" id="RoomTypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="price"    column="price"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRoomTypeVo">
        select id, name, description, price, create_time, update_time from room_type
    </sql>

    <select id="selectRoomTypeList" parameterType="RoomType" resultMap="RoomTypeResult">
        <include refid="selectRoomTypeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="price != null "> and price like concat('%', #{price}, '%')</if>
        </where>
    </select>
    
    <select id="selectRoomTypeById" parameterType="Long" resultMap="RoomTypeResult">
        <include refid="selectRoomTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertRoomType" parameterType="RoomType" useGeneratedKeys="true" keyProperty="id">
        insert into room_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="description != null">description,</if>
            <if test="price != null">price,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="price != null">#{price},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateRoomType" parameterType="RoomType">
        update room_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="price != null">price = #{price},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRoomTypeById" parameterType="Long">
        delete from room_type where id = #{id}
    </delete>

    <delete id="deleteRoomTypeByIds" parameterType="String">
        delete from room_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>