<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.profile.mapper.HotelProfileMapper">
    
    <resultMap type="HotelProfile" id="HotelProfileResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHotelProfileVo">
        select id, title, content, create_time, update_time from hotel_profile
    </sql>

    <select id="selectHotelProfileList" parameterType="HotelProfile" resultMap="HotelProfileResult">
        <include refid="selectHotelProfileVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
        </where>
    </select>
    
    <select id="selectHotelProfileById" parameterType="Long" resultMap="HotelProfileResult">
        <include refid="selectHotelProfileVo"/>
        where id = #{id}
    </select>

    <insert id="insertHotelProfile" parameterType="HotelProfile" useGeneratedKeys="true" keyProperty="id">
        insert into hotel_profile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHotelProfile" parameterType="HotelProfile">
        update hotel_profile
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHotelProfileById" parameterType="Long">
        delete from hotel_profile where id = #{id}
    </delete>

    <delete id="deleteHotelProfileByIds" parameterType="String">
        delete from hotel_profile where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>